.heart {
  position: relative;
  outline: 1px solid transparent;
  border-radius: 50%;
  border: 1px solid black;
  width: 80px;
  height: 80px;
  background: none;
  user-select: none;
}
.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 79px;
  height: 79px;
}
.heart:hover {
  cursor: pointer;
  border: 1px solid #e94b3c;
  transition: border-color 0.3s ease-in;
}
.heart:hover:after {
  animation: shockwave 1s ease-in infinite;
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 2px #e94b3c;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    box-shadow: 0 0 50px #a11e12, inset 0 0 10px #e94b3c;
  }
}

.count {
  position: absolute;
  top: -50px;
  left: 20px;
  font-size: 0.8rem;
  color: white;
  background: #e94b3c;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.total {
  position: absolute;
  font-size: 0.8rem;
  width: 80px;
  text-align: center;
  background: #e94b3c;
  left: 0;
  top: -22px;
  color: black;
}

.icon {
  width: 100%;
  height: 50%;
  fill: none;
  stroke: #bdc3c7;
  stroke-width: 1px;
}

.icon.checked {
  fill: #e94b3c;
  stroke-width: 0px;
}

.info {
  position: relative;
  top: 47px;
}
